body{
  height: 100%;
}

#bd_main {
    padding-top: 80px;
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
    height: 100%;
    background: url(../media/images/index.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    /*overflow-x: hidden; APAGAR NO FIM */
}

#bd_else {
  font-family: 'Work Sans', sans-serif;
  font-weight: 400;
  height: 100%;
  /*overflow-x: hidden; APAGAR NO FIM */
}

.black{
  color: black  !important;
}

.white{
  color: white  !important;
}

.borderblack{
  border: 1px solid black !important;
}

.borderwhite{
  border: 1px solid white  !important;
}

#logo {
    width: 30%;
    height: auto;
}

nav {
    padding-left: 0 !important;
    padding-right: 0 !important;
    z-index: 1000000;
}



#nav_branca{
    background-color: white;
}
.navbar{
    padding-top:3vh;
    margin-right: 10vw;
    margin-left: 10vw;
}

#navmain a {
    font-size: 0.7rem;
    font-weight: 600;
}

#navmain a:hover {
    text-decoration: underline;
}

.nav-item a{
     letter-spacing: 1px;
    font-weight: 600;
    font-size: .8rem;
    margin-right:3vw;
}

#navelse a {
  font-size: 0.7rem;
  font-weight: 600;
  color: black;
}

#navelse a:hover {
  color: black;
  text-decoration: underline;
}

.bodycontainer {
  width: 100%;
  margin: 0;
}

.bodycontent {
  padding-right: 2em;
  padding-left: 2em;
}

.main_text {
    margin-top: 23%;
}

.main_text p {
    font-size: 1.2rem;
}

#ver_produtos {
    font-family: 'Oswald', sans-serif;
    font-size: 0.8rem;
    padding: 0.55% 1.2%;
}

.botao_main {
    margin-top: 2.5%;
}

#seta {
    border: 1px solid white;
    padding: 0.55% 0.5%;
    margin-left: -0.5%;
}

.submenu {
  font-family: 'Oswald', sans-serif;
  font-size: 0.8rem;
  padding: 0.55% 1.2%;
  z-index: 1000;
}

.submenu input {
  background: none;
  border: none;
  margin-bottom:2vh;
  font-family: 'Oswald', sans-serif;
  letter-spacing: 1px;
  color: gray;
}

.oswald_title{
     font-family: 'Oswald', sans-serif;
    font-weight: 600;
    letter-spacing: 2px;
}

.active_subclass {
  outline: 2px solid white;
  text-decoration: underline;
}

.transition_none {
  transition: none !important;
}

.dontLooseFocus {
  outline: 2px solid white !important;
  color: black !important;
  text-decoration: underline !important;
}

input[type=submit]:focus{
  outline: 2px solid white;
  text-decoration: underline;
  color: black;
}

input[type=submit]:hover{
  outline: 2px solid white;
  text-decoration: underline;
  color: black;
}

input[type=button]:focus{
  outline: 2px solid white;
  text-decoration: underline;
  color: black;
}

input[type=button]:hover{
  outline: 2px solid white;
  text-decoration: underline;
  color: black;
}

.row_products{
    margin-top:12vh;
}

.products_text{
  font-size:0.8rem;
  padding: 4vh 0 2vh 0;
}

#products_margin{
  padding:20vh 1vw 10vh 2vw;
}

.pupilab_padding{
  padding-top:2.5vh;
}

footer a, footer p{
    font-size: 0.8rem;
}

footer a{
    color:rgba(0,0,0,.5);
}

footer a:hover{
    color:rgba(0,0,0,.8);
    text-decoration: none;
}
