body {
    height: 100%;
}

#bd_main {
    padding-top: 80px;
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
    height: 100%;
    background: url(../media/images/index.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
   overflow-x: hidden;
}

#bd_else {
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
    height: 100%;
    /*overflow-x: hidden; APAGAR NO FIM */
}

.black {
    color: black !important;
}

.white {
    color: white !important;
}

.borderblack {
    border: 1px solid black !important;
}

.borderwhite {
    border: 1px solid white !important;
}

#logo {
    width: 30%;
    height: auto;
}

.bodycontainer {
    width: 100%;
    margin: 0;
}

.bodycontent {
    padding-right: 2em;
    padding-left: 2em;
}

.main_text {
    margin-top: 20%;
}

.main_text p {
    font-size: 1.2rem;
}

.botao_main {
    margin-top: 2.5%;
}

.submenu {
    font-family: 'Work Sans', sans-serif;
    font-size: 0.8rem;
    padding: 0.55% 1.2%;
    z-index: 1000;
}

.submenu input {
    background: none;
    border: none;
    margin-bottom: 2vh;
    font-family: 'Work Sans', sans-serif;
    letter-spacing: 1px;
    color: gray;
}

#submenuToggler {
  display: none;
}

#submenutitle1{
  display: inherit;
}

#submenutitle2{
  display: none;
}

.oswald_title {
    font-family: 'Oswald', sans-serif;
    font-weight: 600;
    letter-spacing: 2px;
}

.active_subclass {
    outline: 2px solid white;
    text-decoration: underline;
}

.transition_none {
    transition: none !important;
}

.dontLooseFocus {
    outline: 2px solid transparent !important;
    color: black !important;
    text-decoration: underline !important;
}

input[type=submit]:focus {
    outline: 2px solid transparent;
    text-decoration: underline;
    color: black;
}

input[type=submit]:hover {
    outline: 2px solid transparent;
    text-decoration: underline;
    color: black;
}

input[type=button]:focus {
    outline: 2px solid transparent;
    text-decoration: underline;
    color: black;
}

input[type=button]:hover {
    outline: 2px solid transparent;
    text-decoration: underline;
    color: black;
}

#categorybreak{
  margin-bottom: -1rem;
}

.row_products {
    margin-top: 12vh;
}

.products_text {
    font-size: 0.8rem;
    padding: 4vh 0 2vh 0;
}

#products_margin {
    padding: 20vh 0 10vh 0;
    margin-right: 0 !important;
    margin-left: 0 !important;
}

.pupilab_padding {
    padding-top:2.5vh;
}

.pupilab_text_footer{
     color: #2DA037;
}

@media (max-width: 992px) {

  #producttitle{
    margin-top: 2rem !important;
  }

  #submenutitle1{
    display: none;
  }

  #submenutitle2{
    display: inherit;
  }

  .submenu{
    position: absolute;
    display: none;
    margin-top: 5vh;
    height: 100%;
  }

  .submenu input{
    margin-bottom: 0.5vh;
  }

  #submenuform{
    background-color: rgba(255,255,255,1);
    width:175px !important;
  }

  #products_margin{
    padding-top: 15vh;
  }

  #submenuToggler{
    display: inherit;
  }

}


footer a,
footer p {
    font-size: 0.8rem;
}

footer a {
    color: rgba(0, 0, 0, .5);
}

footer a:hover {
    color: rgba(0, 0, 0, .8);
    text-decoration: none;
}
