nav a{
     letter-spacing: 1px;
}
.oswald_title{
     font-family: 'Oswald', sans-serif;
    font-weight: 600;
    letter-spacing: 2px;
}

.submenu input{
    margin-bottom:2vh;
     font-family: 'Oswald', sans-serif;
   letter-spacing: 1px;
    color: gray;
    }

input[type=submit]:focus{
    color: black;
}

input[type=submit]:hover{
    color: black;
}

input[type=button]:focus{
    color: black;
}

input[type=button]:hover{
    color: black;
}


.row_products{
    margin-top:8vh;
}

.products_text{
    font-size:0.8rem;
    padding: 4vh 0 2vh 0;
}

#products_margin{
    padding:10vh 1vw 0 2vw;
}