body {
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
    background: url(imgs_main/index.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    overflow-x: hidden;
}

#logo {
    width: 30%;
    height: auto;
}

nav {
    margin-top: 2%;
}

nav a {
    font-size: 0.7rem;
    font-weight: 600;
    color: white;
}

nav a:hover {
    color: white;
    text-decoration: underline;
}

.main_text {
    margin-top: 23%;
}

.main_text {
    -webkit-animation: fadein 4s ease;
    /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 4s ease;
    /* Firefox < 16 */
    -ms-animation: fadein 4s ease;
    /* Internet Explorer */
    -o-animation: fadein 4s ease;
    /* Opera < 12.1 */
    animation: fadein 4s ease;
}

.botao_main {
    -webkit-animation: fadein 4s ease;
    /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 4s ease;
    /* Firefox < 16 */
    -ms-animation: fadein 4s ease;
    /* Internet Explorer */
    -o-animation: fadein 4s ease;
    /* Opera < 12.1 */
    animation: fadein 4s ease;
}

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
    0% {
        transform: translateY(30px);
    }
    100% {
        transform: translateY(0);
    }
}


/* Firefox < 16 */

@-moz-keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
    0% {
        transform: translateY(30px);
    }
    100% {
        transform: translateY(0);
    }
}


/* Safari, Chrome and Opera > 12.1 */

@-webkit-keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
    0% {
        transform: translateY(30px);
    }
    100% {
        transform: translateY(0);
    }
}


/* Internet Explorer */

@-ms-keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
    0% {
        transform: translateY(30px);
    }
    100% {
        transform: translateY(0);
    }
}


/* Opera < 12.1 */

@-o-keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
    0% {
        transform: translateY(30px);
    }
    100% {
        transform: translateY(0);
    }
}

.main_text p {
    color: white;
    font-size: 1.2rem;
}

#ver_produtos {
    font-family: 'Oswald', sans-serif;
    font-size: 0.8rem;
    padding: 0.55% 1.2%;
    color: white;
    border: 1px solid white;
}

.botao_main {
    margin-top: 2.5%;
}

#seta {
    border: 1px solid white;
    padding: 0.55% 0.5%;
    margin-left: -0.5%;
}
